@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.marketplace-card {
  min-width: 189px;
  width: 33%;
  padding: 10px 0px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.marketplace-card:hover {
  background: #ffc7f9;
  background: linear-gradient(147deg, #ffc7f9 0%, #c0c2fa 50%, #bcffbf 100%);
  -webkit-box-shadow: 4px 5px 10px #222;
          box-shadow: 4px 5px 10px #222;
  border-radius: 5px;
  cursor: pointer;
}

.font-noto {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.image-card > img {
  width: 100% !important;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-card > img:hover {
  -o-object-fit: fill;
     object-fit: fill;
  cursor: pointer;
}

.title-1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.title-2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

input[type="file"].file-dropped-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.file-area {
  width: 70%;
  position: relative;
}

.file-area input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.file-area .file-dummy {
  width: 100%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px dashed rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 100%;
}

.w-70 {
  width: 70% !important;
}

.green {
  background-color: #2ea65e;
}

.btn-rounded {
  border-radius: 100px;
  border-width: 0px;
}

.corner-rounded-20 {
  border-radius: 20px;
}

.corner-rounded-50 {
  border-radius: 50px;
}

.backdrop-cs {
  position: fixed;
  z-index: 10002;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.backdrop-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.backdrop-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-no-width {
  display: block;
  padding: 0.40625rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #424242;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #9e9e9e;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.corner-rounded {
  border-radius: 5px;
}

.text-line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
}

.text-line-2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
}

.text-line-1 {
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
}

.order-image {
  background-color: #e7e7e7 !important;
  -webkit-box-shadow: 3px 2px 10px rgba(39, 39, 39, 0.4);
          box-shadow: 3px 2px 10px rgba(39, 39, 39, 0.4);
}

.circle-outlined {
  border: 3px solid #6200ea;
  border-radius: 50px;
  padding: 5px;
}

.card-comment {
  border-radius: 50px;
}

.btn-overlay {
  position: relative !important;
  overflow: visible !important;
}

.btn-overlay span {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 2px 7px;
  -webkit-box-shadow: 1px 2px 3px #272727;
          box-shadow: 1px 2px 3px #272727;
  border-radius: 50px;
  background-color: #076e43;
  color: white;
  font-family: "Roboto", sans-serif;
}

.btn-overlay-bottom {
  position: relative !important;
  overflow: visible !important;
}

.btn-overlay-bottom span {
  position: absolute;
  bottom: -3px;
  right: -3px;
  -webkit-box-shadow: 1px 2px 3px #272727;
          box-shadow: 1px 2px 3px #272727;
  border-radius: 50px;
  background-color: #076e43;
  color: white;
  font-family: "Roboto", sans-serif;
}

.title-roboto-1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.title-roboto-2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.title-barlow-1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.title-barlow-2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.title-noto-2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
}

.title-barlow-3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.title-noto-3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
}

.img-cart {
  height: 212px;
  max-width: 100%;
  margin: auto;
}

@media screen and (max-width: 769px) {
  .img-cart {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.bg-none {
  background-color: transparent !important;
}

.img-card-circle {
  height: 150px;
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  -webkit-box-shadow: -2px -1px 7px #706d6d;
          box-shadow: -2px -1px 7px #706d6d;
}

.switch_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.switch_box input[type="checkbox"].switch_1 {
  font-size: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 1.5em;
  background: #ddd;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.switch_box input[type="checkbox"].switch_1:checked {
  background: #0ebeff;
}

.switch_box input[type="checkbox"].switch_1:after {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.switch_box input[type="checkbox"].switch_1:checked:after {
  left: calc(100% - 1.5em);
}

a.no-style {
  display: inherit;
  color: inherit;
  text-decoration: inherit;
}

.width-responsive {
  width: 70%;
}

@media screen and (max-width: 769px) {
  .width-responsive {
    width: 90%;
  }
}

.skeleton {
  -webkit-animation: skeleton-loading 1s linear infinite alternate;
          animation: skeleton-loading 1s linear infinite alternate;
}

div.skeleton-text {
  height: 20px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 0.250rem;
}

div.skeleton-text:last-of-type {
  margin-bottom: 0;
  width: 80%;
}

@-webkit-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}

.chat-container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-container .container {
  height: 85vh;
  width: 95%;
  border-radius: 10px;
  -webkit-box-shadow: 3px 5px 10px #414141;
          box-shadow: 3px 5px 10px #414141;
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
}

@media screen and (max-width: 900px) {
  .chat-container .container {
    -ms-grid-rows: 25% 75%;
        grid-template-rows: 25% 75%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.contact-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 75% 15%;
      grid-template-rows: 10% 75% 15%;
  overflow: hidden;
  background-color: #080420;
}

@media screen and (max-width: 900px) {
  .contact-container {
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    overflow-x: scroll;
  }
}

.contact-container .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .brand img {
  height: 2rem;
}

.contact-container .brand h3 {
  color: white;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .contact-container .brand {
    display: none;
  }
}

.contact-container .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  gap: 0.8rem;
}

.contact-container .contacts::-webkit-scrollbar {
  width: 0.2rem;
}

.contact-container .contacts::-webkit-scrollbar-thumb {
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
}

@media screen and (max-width: 900px) {
  .contact-container .contacts {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

.contact-container .contacts .contact {
  background-color: #ffffff34;
  min-height: 5rem;
  cursor: pointer;
  width: 90%;
  border-radius: 0.2rem;
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 900px) {
  .contact-container .contacts .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 150px;
    width: auto;
    background-color: transparent !important;
  }
}

.contact-container .contacts .contact .avatar img {
  height: 3rem;
}

@media screen and (max-width: 900px) {
  .contact-container .contacts .contact .avatar {
    background-color: yellow;
    border-radius: 50px;
    padding: 10px;
  }
}

@media screen and (max-width: 900px) {
  .contact-container .contacts .contact .username div {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media screen and (max-width: 900px) {
  .contact-container .contacts .contact .username div.info-chat {
    display: none !important;
  }
}

.contact-container .contacts .contact .username h3 {
  color: white;
}

.contact-container .contacts .selected {
  background-color: #9a86f3;
}

.contact-container .current-user {
  background-color: #0d0d30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.contact-container .current-user .avatar img {
  height: 4rem;
  max-inline-size: 100%;
}

.contact-container .current-user .username h2 {
  color: white;
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
  .contact-container .current-user {
    gap: 0.5rem;
  }
  .contact-container .current-user .username h2 {
    font-size: 1rem;
  }
}

.chatinput-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 5% 95%;
      grid-template-columns: 5% 95%;
  background-color: #080420;
  padding: 0 2rem;
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
  .chatinput-container {
    padding: 0 1rem;
    gap: 1rem;
  }
}

.chatinput-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  gap: 1rem;
}

.chatinput-container .button-container .emoji {
  position: relative;
}

.chatinput-container .button-container .emoji svg {
  font-size: 1.5rem;
  color: #ffff00c8;
  cursor: pointer;
}

.chatinput-container .button-container .emoji .emoji-picker-react {
  position: absolute;
  top: -350px;
  background-color: #080420;
  -webkit-box-shadow: 0 5px 10px #9a86f3;
          box-shadow: 0 5px 10px #9a86f3;
  border-color: #9a86f3;
}

.chatinput-container .button-container .emoji .emoji-picker-react .emoji-scroll-wrapper::-webkit-scrollbar {
  background-color: #080420;
  width: 5px;
}

.chatinput-container .button-container .emoji .emoji-picker-react .emoji-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #9a86f3;
}

.chatinput-container .button-container .emoji .emoji-picker-react .emoji-categories button {
  -webkit-filter: contrast(0);
          filter: contrast(0);
}

.chatinput-container .button-container .emoji .emoji-picker-react .emoji-search {
  background-color: transparent;
  border-color: #9a86f3;
}

.chatinput-container .button-container .emoji .emoji-picker-react .emoji-group:before {
  background-color: #080420;
}

.chatinput-container .input-container {
  width: 100%;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background-color: #ffffff34;
}

.chatinput-container .input-container input {
  width: 90%;
  height: 60%;
  background-color: transparent;
  color: white;
  border: none;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.chatinput-container .input-container input::-moz-selection {
  background-color: #9a86f3;
}

.chatinput-container .input-container input::selection {
  background-color: #9a86f3;
}

.chatinput-container .input-container input:focus {
  outline: none;
}

.chatinput-container .input-container button {
  padding: 0.3rem 2rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9a86f3;
  border: none;
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
  .chatinput-container .input-container button {
    padding: 0.3rem 1rem;
  }
  .chatinput-container .input-container button svg {
    font-size: 1rem;
  }
}

.chatinput-container .input-container button svg {
  font-size: 2rem;
  color: white;
}

.chat-container-inside {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 80% 10%;
      grid-template-rows: 10% 80% 10%;
  gap: 0.1rem;
  overflow: hidden;
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
  .chat-container-inside {
    -ms-grid-rows: 15% 70% 15%;
        grid-template-rows: 15% 70% 15%;
  }
}

.chat-container-inside .chat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.chat-container-inside .chat-header .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.chat-container-inside .chat-header .user-details .avatar img {
  height: 3rem;
}

.chat-container-inside .chat-header .user-details .username h3 {
  color: white;
}

.chat-container-inside .chat-messages {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  overflow: auto;
}

.chat-container-inside .chat-messages::-webkit-scrollbar {
  width: 0.2rem;
}

.chat-container-inside .chat-messages::-webkit-scrollbar-thumb {
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
}

.chat-container-inside .chat-messages .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-container-inside .chat-messages .message .content {
  max-width: 40%;
  overflow-wrap: break-word;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  color: #d1d1d1;
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
  .chat-container-inside .chat-messages .message .content {
    max-width: 70%;
  }
}

.chat-container-inside .chat-messages .sended {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chat-container-inside .chat-messages .sended .content {
  background-color: #4f04ff21;
}

.chat-container-inside .chat-messages .recieved {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.chat-container-inside .chat-messages .recieved .content {
  background-color: #9900ff20;
}

.welcome-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome-chat img {
  height: 20rem;
}

.welcome-chat span {
  color: #4e0eff;
}
/*# sourceMappingURL=app.css.map */